<div class="container">

<h1 *ngIf="!signalR.winner">Current Player: {{ signalR.player }} </h1>

<h2 *ngIf="signalR.winner" [ngClass]="{'hasWinner':signalR.winner}">
    Player {{ signalR.winner }} won the game!
</h2>
<button *ngIf="signalR.winner" class="btn btn-primary" (click)="signalR.newGame()">Start new Game</button>




<main *ngIf="!signalR.winner">
    <app-square
        *ngFor="let val of signalR.squares; let i = index" 
        [value]="val"
        (click)="signalR.makeMove(i)"> 

    </app-square>
</main>

</div>

