.container {
    width: 400px;
    float: left;
    .chat {
        overflow-y: scroll;
        height: 500px;
        width: 400px;
        .message {
            word-wrap: break-word;
        }
    }
    .invisible {
        clear: both;
        visibility: hidden;
    }
}
