<div class="container">
    <div class="text-center">
        <h1>Welcome to Kefche.com</h1>
        <h4>The best place for online games</h4>
    </div>
    <div class="col-md-4 offset-md-4">
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="autoplay: true">
            <ul class="uk-slider-items uk-grid">
                <li class="uk-width-1-1">
                    <div class="uk-panel">
                        <img src="../../assets/chess.jpg" width="800" height="600">
                    </div>
                </li>
                <li class="uk-width-1-1">
                    <div class="uk-panel">
                        <img src="../../assets/tic.png" width="600" height="600">
                    </div>
                </li>
                <li class="uk-width-1-1">
                    <div class="uk-panel">
                        <img src="../../assets/more.png" width="600" height="600">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>