<div class="container">
    <div>
        <div class="row">
            <div class="col-lg-6"> </div>
            <div class="col-md-auto">
                <button class="btn btn-primary" (click)="getInviteLink(userinput)">Get link</button>
                <input type="text" value="" #userinput [readonly]="true" style="width: 300px;">
                <button (click)="copyInputMessage(userinput)" value="click to copy">Copy</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6"></div>
            <div class="col-md-auto">
                <input type="text" value="" #accept style="width: 300px;">
                <button (click)="acceptInvite(accept)" value="click to copy">Accept</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ngx-chess-board #board [size]="600" [showLastMove]="true" [showLegalMoves]="true"
                (moveChange)="onMoveChange($event)">
            </ngx-chess-board>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-sm">
                    <div class="buttons">
                        <button type="button" class="btn btn-primary" (click)="reset()">Reset game</button>
                        <button type="button" class="btn btn-info" (click)="undoLastMove()">Undo move</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <table class="table table-stripped">
                        <thead>
                            <tr>
                                <th scope="col">Player</th>
                                <th scope="col">Move</th>
                                <th scope="col">Piece</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let m of moveHistory; index as i">
                            <td>{{m.color}}</td>
                            <td>{{m.move}}</td>
                            <td>{{m.piece}}</td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>